.item-count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 20px auto;
    background-color: #f9f9f9;
}

.item-count-container p {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

button {
    background-color: #00ff51;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active:not(:disabled) {
    transform: scale(0.95);
}

.mensaje-sin-stock {
    color: #564fd9;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
